{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "eslint-plugin-prettier",
    "eslint-plugin-react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/forbid-prop-types": [0, { "forbid": ["any"] }],
    "react/prop-types": 0,
    "no-console": "off",
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "jsxSingleQuote": false,
        "printWidth": 120,
        "semi": true,
        "jsxBracketSameLine": true,
        "bracketSpacing": true
      }
    ]
  },
  "env": {
    "jest": true,
    "es6": true
  }
}